<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" routerLink="/home">EmpleosApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/acerca">Acerca de</a>
          </li>
          <li *ngIf="_authService.hasRole('ROLE_ADMIN')" class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/vacantes">Vacantes</a>
          </li>
          <li *ngIf="_authService.hasRole('ROLE_ADMIN')" class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/categorias">Categorías</a>
          </li>        
        </ul>  
        <a *ngIf="!_authService.isAuthenticated()" class="btn btn-primary" routerLink="/login">Ingresar</a>&nbsp;
        <!--<a *ngIf="_authService.isAuthenticated()" class="btn btn-primary" routerLink="/login">{{ _authService.usuario.username }}</a>&nbsp;-->

        <div *ngIf="_authService.isAuthenticated()" class="dropdown">
          <a class="btn btn-primary dropdown-toggle text-white" data-toggle="dropdown" aria-expanded="false">&nbsp;
            {{ _authService.usuario.username }}
          </a>
        
          <div class="dropdown-menu">
            <button (click)="logout()" class="btn btn-primary dropdown-item" type="submit">Salir</button>
          </div>
        </div>

        <a class="btn btn-primary" href="#">Registrarse</a>
      </div>
    </nav>
  </header>
